header
  img.menu-icon.lazyload(
    data-src="/assets/img/icons/menu.svg"
    width="36"
    height="36" 
    style="display: none")
  a.logo(href="/") 
    img(src="/assets/img/logo.svg" width="166" height="89")
  span.dsc Производство и продажа комплектующих для изоляции стыков труб в ППУ изоляции
  span.addr Минская обл., Дзержинский р-н, д. Гарбузы, здание котельной
  .cta(tabindex="1")
    .mobile()
      span Телефон
      img.close.lazyload(data-src="/assets/img/icons/close.svg" width="30" height="30")
    a.phone(href="tel:+375 (29) 658–83–15")
      img.close(src="/assets/img/icons/phone.svg" width="20" height="20")
      span +375 (29) 658–83–15
    span.redbutton Заказать звонок
  img.phone-big.lazyload(
    data-src="/assets/img/icons/phoneBig.svg"
    style="display:none"
    width="30"
    height="30"
    )  


